  .contact-img{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)),url(../images/contactback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }